*{
    margin: 0cm;
    padding: 0%;
}
#nav{
background-color:burlywood;
overflow:visible;
color: white;

}
#nav h1{
float: left;
color: white;
padding: 20px;
}
nav ul{
    float:right;
    list-style: none;
    color: white;
}
nav ul li{
    float: left;
    padding: 20px;
    color: white;
}
#container{
    margin:auto;
 overflow:auto;
    max-width:1100px;
    
}
nav a{
    color:white;
}